@charset "utf-8";
/* CSS Document */

body {
	background-image:url('imagens/bkg.png');
	}
.navbar {
margin-bottom: 0;
      border-radius: 0;
	  background-color:#DF0005;
	  color:#000;
	  font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
	text-transform:uppercase;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #DF0005 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.selecao{
	background-color:#DF0005;
	}

.logo{
	width:45px;
	margin-top:-7px;
	}

	/* topo */
.topineo{
	padding: 40px;
	margin-top:47px;
	}

/*corpo*/
.branco{
	background-color:#fff;
	/*opacity: 0.8;*/
	padding:15px 60px 50px 60px;
	}
.espaco{
	margin-top:50px;
}
	/*caixinhas*/
.caixa h1{
	display: inline;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size:45px;
	margin-left:15px;
	}
.caixa img{
	display: inline;
	}
.caixa p{
	margin-top:10px;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size:18px;
	}
.botau{
	margin-top:25px;
	background-color:#DF0005;
	border:none;
	color:white;
	border-radius:10px;
	padding: 15px 30px;
	}
.botau h1{
	display: inline;
	font-size:25px;
	font-family: 'Lobster', Georgia, Times, serif;
	}
.botau p{
	display: inline;
	font-size:13px;
	}
.lista{
	padding: 15px 60px;
	font-size:25px;
	font-family:'Julius Sans One', sans-serif;
	background-color:#DF0005;
	
	}
.lista img{
	display: inline;
	}
.lista h1{
	display: inline;
	color:#fff;
	}
#map {
    height: 100%;
  }
 .rodape{
	background-color:#000;
	color:#fff;
	padding: 15px 60px;
	}
 .rodape img{
	display: inline;
	margin-right:20px;
	}
 .rodape h1{
	display: inline;
	font-family:'Julius Sans One', sans-serif;
	}
 .rodape p{
	display: inline;
	}
.branquinho{
	margin-top:50px;
	background-color:#fff;
	/*opacity: 0.8;*/
	padding:120px;
	}
.dica h1{font-family: 'Lobster', Georgia, Times, serif;}
.dica ul li{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size:14px;
}
 .entrada h1{
	display: inline;
	font-family:'Julius Sans One', sans-serif;
	font-size:25px;
	}
