/* CSS Document */

body {
	background-image:url('../imagens/bkg2.jpg');
	height: 100%;
	margin: 0 0;
	font-family: 'Cabin', sans-serif;
	font-size:15px;
	}

body  h1{
	font-family: 'Lobster', cursive;
	}
body  a{
	color:#000;
	text-decoration: none;
	}
body a:hover{
	text-decoration: none;
	color: white;
}
body  a li{
	color:#000;
	font-style:bold;
	}

p{
	text-align: justify;
}

.navbar {
margin-bottom: 0;
      border-radius: 0;
	  background-color:#b6528c;
	  color:#000;
	  font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
	text-transform:uppercase;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.selecao{
	background-color:#cfcfcf;
	}

    button {
      margin: 10px;
    }
    .banner-button {
      font-family:  Ubuntu;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      z-index: 3;
      padding: 15px 30px 15px 30px;
      margin: auto auto 1%;
      background: transparent;
      outline: none !important;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
    }
    .banner-button-animation {
      width: 150px;
      height: 40px;
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .banner-button-animation span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .banner-button-animation:before, .banner-button-animation:after {
      position: absolute;
      content: "";
      height: 0%;
      width: 2px;
      background: #000;
    }
    .banner-button-animation:before {
      right: 0;
      top: 0;
      transition: all 0.1s ease;
    }
    .banner-button-animation:after {
      left: 0;
      bottom: 0;
      transition: all 0.1s 0.2s ease;
    }
    .banner-button-animation:hover:before {
      transition: all 0.1s 0.2s ease;
      height: 100%;
    }
    .banner-button-animation:hover:after {
      transition: all 0.1s ease;
      height: 100%;
    }
    .banner-button-animation span:before, .banner-button-animation span:after {
      position: absolute;
      content: "";
      background: #000;
    }
    .banner-button-animation span:before {
      left: 0;
      top: 0;
      width: 0%;
      height: 2px;
      transition: all 0.1s 0.1s ease;
    }
    .banner-button-animation span:after {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
    }
    .banner-button-animation span:hover:before {width: 100%;}
	.seta-direita:before {
	  content: "";
	  display: inline-block;
	  vertical-align: middle;
	  margin-right: 10px;
	  width: 0;
	  height: 0;

	  border-top: 15px solid transparent;
	  border-bottom: 15px solid transparent;
	  border-left: 15px solid green;
	}

.header{
	margin-top:80px;
}

.geral{
	min-height:100%;
    position:relative;
}

.info {
	background-color:#fff;
	margin-top:30px;
	padding:15px;
}
.caixa{
	padding:20px;
	margin-top:50px;
}
.caixa img{
	height:150px;
}

.maisd{
	padding:20px;
	background-color: #fff;
}

.maisp{
	padding:20px;
	background-color: #fff;
}

.az{
	background-color: #6769c9;
	padding:5px;
}
.rx{
	background-color: #b6528c;
}

.rodape{
	background-color:#000;
	color:#fff;
	padding: 15px 60px;
    bottom:0;
	}
 .rodape img{
	display: inline;
	margin-right:20px;
	margin-bottom: 10px;
	}
 .rodape h1{
	display: inline;
	font-family:'Julius Sans One', sans-serif;
	}
 .rodape p{
	display: inline;
	}

/* entra.html */
.bg{
	height: 100%;
	margin-top:95px;
	padding:5%;
}

.logoin{
	height:150px;
}

.ajrodape{
	position: absolute;
	bottom: 0;

}

.ajconteudo {

    width:800px;
}

.branquinho{
	margin: 0 14% 0 14%;
	background-color: #fff;
	padding: 8% 7% 2% 7%;
	 min-height:: 100%;
}

.branquinho2{
	margin: 0 14% 0 14%;
	background-color: #fff;
	padding: 8% 7% 2% 7%;
	min-height:100%;
    position:relative;
}

.entrada label{
	margin: 3% 0 0.5% 0.5%;
	vertical-align: inherit;
}

.ajlink{
	text-align: right;
}



/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */
/* TESTEFEED */

.feedBorda {
	border-right: 6px solid #ff2c32;
	padding-right: 2%;
	margin-bottom: 4%;
}

.feed{
	padding: 0 10px;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: inter-word;
	}
.feed img{
	display: inline;
	margin-right:20px;
	margin-bottom: 10px;
	float: left;
}
.feed h1{
	font-family:'Julius Sans One', sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 10px;
}
.feed span{
	display: inline;
	margin-right: 2px;
}
.feed a{
	float: right;
}

#feedLetrinha{
	color: #888;
	font-size: 10px;
}

#feedCod{
	color: #888;
	font-size: 10px;
}

#feedSubtitulo{
	color: #555;
}

.handFeed {
	width: 150px;
	height: 145px;
	margin-right: 0;
	padding: 0;
}

.feedBotao{
	font-size: 14px;
	float: right;
	text-transform: uppercase;
	color: #000;
	background-color: #fff;
	border-width: 1px;
	border-color: #000;
	border-radius: 2px;
	border-style: solid;
	line-height: 16px;
	padding: 10px 15px 10px 15px;
	margin: 3% 0;
	transition: background-color 0.15s;
}
.feedBotao:hover{
	border-color: #ff2c32;
	background-color: #ff2c32;
	color: #fff;
}

.feedPagination{
	text-align: center;
}

.feedPagination span{
	margin: 0 5% 0 5%;
	color: #000;
}

.botaoSeta{
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	background-color: #ff2c32;
	border-width: 1px;
	border-color: #fff;
	border-radius: 2px;
	border-style: solid;
	line-height: 16px;
	padding: 10px 15px 10px 15px;
	margin: 3% 0;
	transition: background-color 0.15s;
}

.botaoSeta:hover{
	color: #ff2c32;
	background-color: #fff
}

/*CONTAINEEER*/

.botaoCadastro {
	padding: 10px 15px 10px 15px;
	border-width: 0px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	height: 40px;
	position: fixed;
	bottom: 2%;
	right: 1.5%;
	background-color: #ff2c32;
	background-color:rgba(255, 41, 45, 0.7);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: background-color 0.15s;
}

.botaoCadastro:hover{
	background-color:rgba(255, 41, 45, 1);
	color: #fff;
	font-weight: 400;
}

a {
    text-decoration: none;
}

.circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2%;
	float: left;
}

#vermelho {
  background-color: #df0005;
}

#rosa {
  background-color: #b6528c;
}

.perfilBorda{
	border-left: 12px solid #6769c9;
}

.navbarPurple{
	background-color: #6769c9;
}

#perfil{
	margin-left: 2%;
}

.infoPerfil{
	margin-top: 2%;
	font-size: 18px;
	font-weight: 400;
	padding: 0.5%;
}

#perfilBotao{
	float: none;
}

#perfilBotao:hover{
	border-color: #b6528c;
	background-color: #b6528c;
	color: #fff;
}

#tabela {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 14px;
	text-transform: uppercase;
    width: 100%;
}

#tabela tr{
	padding-bottom: 1%;
}

#tabela td {
    padding: 8px;
}

#tabela th {
    padding: 0 8px;
}

#tabela tr:nth-child(even){
	background-color: #f2f2f2;
}

#tabela tr:hover {
	background-color: #ddd;
}